@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
    background-color: lightsteelblue;
}

.container {
    font-family: "Bree Serif";
    height: auto;
    width: 37%;
    position: absolute;
    top: 6%;
    left: 30%;
    text-align: center;
    padding: 20px;
    color: #315983;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 13px 0px #bfbfbf;
}

h1 {
    color: #f0bb03;
    margin-top: 0;
}

.faq {
    box-shadow: 0px 4px 7px 0px #bfbfbf;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 10px;
    border: 1px solid #bbc1db;
}

#plus {
    cursor: pointer;
    transition: transform 0.3s ease;
}

img.rotate {
    transform: rotate(45deg);
}

.btnContainer {
    display: flex;
    gap: 20px;
}

h6 {
    margin-top: 10px;
    font-weight: 100;
}

h3 {
    font-weight: 200;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 12px;
}

.faq p {
    text-align: left;
}

.faq hr {
    border-color: #7786cc; 
    border-width: 0.1px; 
    border-style: solid;
}
