@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.container{
    background-color:#1e293b;
    /* font-family:sans-serif; */
    font-family: "Bree Serif";
    height:36vh;
    width:28%;
    position: fixed;
    top:26%;
    left:35%;
    border: 2px solid;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 10px;

}
button{
    height:2rem;
    font-weight: 600;
    width: 24%;
    font-size: 13px;
    color: black;
    background-color:rgb(238, 234, 234);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
h1{
    color: #f0bb03;
    margin-bottom: 0;
}
